* {
  color: #8c8c8c;
  font-size: 100%;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

 body {
  margin: 2em 0;
}

header {
  display: flex;
  justify-content: flex-end;
  margin-bottom:2em;
}

.logo {
  width:100px;
  margin: 0 20px 0 0;
}
.search-form {
  width: 100%;
}
form {
  text-align: left;
}

form input {
  box-sizing: border-box;
  padding: 0.5em;
  margin: 2em 20px;
  border: 1px solid #bfbfbf;
  background-color:#fff;
  border-radius: 3px;
}

.search-form form input[type=text] {
  width: 400px;
}
.search-form form input[type=button] {
  width: auto;
}
.search-results {
  text-align:left;
}

.result-item {
  margin: 1em 0;
}
.result-item .title {
  font-weight: semi-bold;
  color: #348888;
  margin-bottom:0.3em;
}
.result-item .title a {
  font-weight: semi-bold;
  color: #348888;
}
.result-counter, .show-more {
  margin-top:2em;
  text-align:center;
}
.show-next button {
  margin: 0;
  padding: 0.5em;
  border: 1px solid #bfbfbf;
  background-color:#fff;
  border-radius: 3px;
}

img {
  object-fit: contain;
  width:100%;
  height: auto;
}

.main-search {
  display:flex;
  margin: 20px;
}
.search {
  box-sizing:border-box;
  margin-right:20px;
  width:700px;
  flex: 1;
}

.article-details {
  box-sizing:border-box;
  margin:0 20px;
  position:sticky;
  align-self: flex-start;
  top:100px;
  width:500px;
}
